.preprint-navbar a.navbar-brand {
    color: var(--theme-color4) !important;
}

.preprint-navbar .nav > li.open,
.preprint-navbar .nav > li.open > a,
.preprint-navbar .nav > li.open > a:hover,
.preprint-navbar .nav > li.open > a:focus:not(.active):hover,
.preprint-navbar .nav > li > a:focus:not(.active):hover {
    background-color: var(--theme-color4) !important;
}

.preprint-error-page a:not(.btn),
.preprint-advisory a:not(.btn) {
    color: var(--theme-color4) !important;
}
