body {}

.preprint-subjects {
  background-color: white; }

.preprint-header {
  background-image: none;
  background-color: var(--theme-color1) !important;
  color: var(--theme-color2) !important;
  padding-top: 100px; }
  .preprint-header .preprint-brand {
    height: 140px; }
  .preprint-header a:not(.btn) {
    color: var(--theme-color2) !important; }

.navbar-image {
  background-image: var(--theme-logo) !important; }

.preprint-brand {
  background-image: var(--theme-banner) !important; }

.preprint-navbar,
.preprint-navbar .nav > li > a.active {
  background-color: var(--theme-color3) !important;
  color: var(--theme-color2) !important; }
.preprint-navbar a {
  color: var(--theme-color2) !important; }
.preprint-navbar a.navbar-brand {
  color: var(--theme-color4) !important; }
.preprint-navbar .navbar-brand:hover,
.preprint-navbar .nav > li > a:hover {
  background-color: var(--theme-color3) !important;
  opacity: 0.75; }
.preprint-navbar .nav > li.open,
.preprint-navbar .nav > li.open > a,
.preprint-navbar .nav > li.open > a:hover,
.preprint-navbar .nav > li.open > a:focus:not(.active):hover,
.preprint-navbar .nav > li > a:focus:not(.active):hover {
  background-color: var(--theme-color4) !important;
  color: var(--theme-color5) !important; }

#preprint-form-subjects .subject,
#preprint-form-subjects .subject > .fa,
#preprint-form-subjects ul li.selected,
#preprint-form-subjects ul li:active {
  background-color: var(--theme-color3) !important;
  color: var(--theme-color2) !important; }
#preprint-form-subjects .subject:hover,
#preprint-form-subjects .subject:hover > .fa,
#preprint-form-subjects ul li:hover {
  background-color: var(--theme-color1) !important;
  color: var(--theme-color2) !important; }
#preprint-form-subjects .subject:hover > .fa {
  opacity: 0.75; }
#preprint-form-subjects .subject b:after {
  border-left-color: var(--theme-color3) !important; }
#preprint-form-subjects .subject:hover > b:after {
  border-left-color: var(--theme-color1) !important; }

.dropdown-menu > li > a:hover {
  color: var(--theme-color1) !important; }

.subject-item > .btn-primary {
  color: var(--theme-color2) !important;
  background-color: var(--theme-color3) !important;
  border-color: var(--theme-color1) !important; }

.subject-item > .btn-primary:hover {
  background-color: var(--theme-color1) !important;
  border-color: var(--theme-color3) !important; }

.preprint-filter,
.preprint-filter .fa {
  color: var(--theme-color2) !important; }

.preprint-403,
.preprint-404,
.preprint-advisory,
.preprint-submit-header,
.preprint-search-header,
.provider-filter {
  background: var(--theme-color1) !important;
  color: var(--theme-color2) !important; }

.subject-filter,
.subject-filter .fa {
  background-color: var(--theme-color3) !important; }

.preprint-403,
.preprint-404,
.preprint-advisory {
  min-height: 200px; }
  .preprint-403 a:not(.btn),
  .preprint-404 a:not(.btn),
  .preprint-advisory a:not(.btn) {
    font-weight: bold; }

#view-page .header-row {
  padding-top: 40px; }

/*# sourceMappingURL=brand.css.map */
